.card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;

  .name {
    font-weight: bold;
  }

  .types {
    display: block;
  }

  .rules_text {
    display: block;
  }

  .ms {
    margin-left: 3px;
  }
}